@page "/addentry"
@using Microsoft.Extensions.Logging
@inject ILogger<AddEntry> Logger

<PageTitle>Add entry</PageTitle>

<h1>Add entry</h1>

<EditForm Model="@fuelEntry" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="price">Price [CHF]</label>
        <InputNumber id="price" @bind-Value="fuelEntry.Price" />
    </div>
    <div class="form-group">
        <label for="distance">Distance [km]</label>
        <InputNumber id="distance" @bind-Value="fuelEntry.Distance" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity [l]</label>
        <InputNumber id="quantity" @bind-Value="fuelEntry.Quantity" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Models.FuelEntry fuelEntry = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        // Process the valid form
    }
}